body{
    display:flex; 
    justify-content:center;
    font-family: "Poppins";
    background: #0e2941;
}
.success { 
    color: green; 
}
.failure { 
    color: red; 
}
.card{
     position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo h1 { 
    margin-bottom: 20px; 
}
.card p{
    font-size: 12px;
    
}
.titulo p{
    display: block;
    font-size: 12px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
